<ng-container *ngIf="order">
  <div class="row mt-4" *ngIf="order.orderStatus != 4">
    <nz-steps
      [nzCurrent]="order.orderStatus"
      (nzIndexChange)="updateOrderStatus($event)"
      nzSize="default"
      nzType="navigation"
    >
      <nz-step nzTitle="Chưa xác nhận"></nz-step>
      <nz-step nzTitle="Xác nhận"></nz-step>
      <nz-step nzTitle="Đang giao"></nz-step>
      <nz-step nzTitle="Giao thành công"></nz-step>
    </nz-steps>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <ng-container>
        <nz-table
          #table
          [nzData]="order.orderDetailDTOS"
          [nzShowPagination]="false"
          [nzLoading]="isLoadingOrder"
        >
          <thead>
            <tr>
              <th>Ảnh</th>
              <th>Tên</th>
              <th>Giá</th>
              <th>Số lượng</th>
              <th>Tổng tiền</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of table.data; index as i">
              <td>
                <img
                  [src]="baseUrl + '/image/' + o.product.image"
                  alt=""
                  width="50"
                />
              </td>
              <td>
                {{ o.product.name }} <br />
                {{ o.product.color }} / {{ o.product.size }}
              </td>
              <td>{{ o.product.price | number }}</td>
              <td>
                <nz-input-number
                  *ngIf="order.orderStatus != 4"
                  [ngModel]="o.amount"
                  [nzMin]="1"
                  [nzMax]="o.product.stock"
                  [nzStep]="1"
                  (ngModelChange)="changeAmountProduct($event, o.product, i)"
                ></nz-input-number>
                <b>{{ o.amount }}</b>
              </td>
              <td>{{ o.product.price * o.amount | number }}</td>
              <td>
                <button
                  *ngIf="order.orderStatus != 4"
                  nz-button
                  nzType="primary"
                  nzDanger
                  (click)="removeProductToOrder(o.id!, i)"
                >
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </ng-container>
      <h3 class="mt-3 mb-3" style="float: right">
        Thành tiền: {{ order.totalMoney | number }}
      </h3>
    </div>
    <div class="col-sm-12 col-lg-4">
      <h3>Tóm tắt đơn hàng</h3>
      <form nz-form [formGroup]="formCart">
        <div class="mt-2">
          <label for="customerName">Họ và tên</label>
          <input
            nz-input
            type="text"
            formControlName="customerName"
            [nzStatus]="
              formCart.get('customerName')?.invalid &&
              (formCart.get('customerName')?.dirty ||
                formCart.get('customerName')?.touched)
                ? 'error'
                : ''
            "
          />
          <ng-container
            *ngIf="
              formCart.get('customerName') &&
              formCart.get('customerName')?.invalid &&
              (formCart.get('customerName')?.dirty ||
                formCart.get('customerName')?.touched)
            "
          >
            <span
              *ngIf="formCart.get('customerName')?.errors?.required"
              nz-typography
              nzType="danger"
              >Vui lòng nhập họ và tên</span
            >
            <span
              *ngIf="formCart.get('fullname')?.errors?.minlength"
              nz-typography
              nzType="danger"
              >Họ và tên tối thiểu 6 ký tự</span
            >
            <span
              *ngIf="formCart.get('fullname')?.errors?.maxlength"
              nz-typography
              nzType="danger"
              >Họ và tên tối đa 225 ký tự</span
            >
          </ng-container>
        </div>
        <div class="mt-2">
          <label for="phoneNumber">Số diện thoại</label>
          <input
            nz-input
            type="text"
            formControlName="phoneNumber"
            [nzStatus]="
              formCart.get('phoneNumber')?.invalid &&
              (formCart.get('phoneNumber')?.dirty ||
                formCart.get('phoneNumber')?.touched)
                ? 'error'
                : ''
            "
          />
          <ng-container
            *ngIf="
              formCart.get('phoneNumber') &&
              formCart.get('phoneNumber')?.invalid &&
              (formCart.get('phoneNumber')?.dirty ||
                formCart.get('phoneNumber')?.touched)
            "
          >
            <span
              *ngIf="formCart.get('phoneNumber')?.errors?.required"
              nz-typography
              nzType="danger"
              >Vui lòng nhập số điện thoại</span
            >
            <span
              *ngIf="formCart.get('phoneNumber')?.errors?.pattern"
              nz-typography
              nzType="danger"
              >Nhập sai định dạng số điện thoại</span
            >
          </ng-container>
        </div>
        <div class="mt-2">
          <label for="deliveryAddress">Địa chỉ giao hàng</label>
          <input nz-input type="text" formControlName="deliveryAddress" />
          <ng-container
            *ngIf="
              formCart.get('deliveryAddress')?.invalid &&
              (formCart.get('deliveryAddress')?.dirty ||
                formCart.get('deliveryAddress')?.touched)
            "
          >
            <span
              *ngIf="formCart.get('deliveryAddress')?.errors?.required"
              nz-typography
              nzType="danger"
              >Nhập địa chỉ giao hàng</span
            >
          </ng-container>
        </div>
        <div class="mt-2">
          <label for="note">Ghi chú</label>
          <textarea nz-input nzAutosize formControlName="note"></textarea>
          <ng-container
            *ngIf="
              formCart.get('note')?.invalid &&
              (formCart.get('note')?.dirty || formCart.get('note')?.touched)
            "
          >
            <span
              *ngIf="formCart.get('note')?.errors?.maxlength"
              nz-typography
              nzType="danger"
              >Ghi chú tối đa 225 ký tự</span
            >
          </ng-container>
        </div>
        <div class="mt-2 float-end" *ngIf="order.orderStatus != 4">
          <nz-space>
            <button
              *nzSpaceItem
              nz-button
              (click)="submitForm()"
              nzType="primary"
              nzSize="large"
            >
              Lưu
            </button></nz-space
          >
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="order.orderStatus != 4">
    <h3 style="text-align: center">Danh sách sản phẩm</h3>

    <nz-table #basicTable [nzData]="products" [nzLoading]="isLoadingProducts">
      <thead>
        <tr>
          <th>Anh</th>
          <th>Name</th>
          <th>Giá</th>
          <th>Tồn kho</th>
          <th>Màu sắc</th>
          <th>Kích thước</th>
          <th>Danh mục</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of basicTable.data; index as i">
          <td>
            <img
              [src]="baseUrl + '/image/' + product.image"
              alt=""
              width="50"
            />
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.price + " VNĐ" }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.color }}</td>
          <td>{{ product.size }}</td>
          <td>{{ product.category.name }}</td>
          <td>
            <button nz-button nzType="primary" (click)="addToOrder(product)">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table></div
></ng-container>
