<div class="m-auto col-lg-4 col-md-6">
  <h1 class="text-center mt-5">Đăng nhập</h1>
  <div class="mt-4">
    <nz-input-group nzPrefixIcon="user">
      <input
        type="email"
        nz-input
        [(ngModel)]="user.email"
        required
        placeholder="Email"
      />
    </nz-input-group>
  </div>
  <div class="mt-4">
    <nz-input-group nzPrefixIcon="lock">
      <input
        required
        type="password"
        nz-input
        [(ngModel)]="user.password"
        minlength="6"
        placeholder="Password"
      />
    </nz-input-group>
  </div>
  <div nz-row class="login-form-margin mt-4">
    <div nz-col [nzSpan]="12">
      <label nz-checkbox>
        <span>Remember me</span>
      </label>
    </div>
    <div nz-col [nzSpan]="12">
      <a class="login-form-forgot">Forgot password</a>
    </div>
  </div>
  <button
    class="mt-2"
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
    (click)="loginForm()"
  >
    Log in
  </button>
</div>
